In [1]:
# lamda
# To write one line function

#simple
def sum2num(p,q):
    print(p+q)
a =sum2num(6,4)
print(a)

10
None

In [2]:
# Using lambda
w = lambda p,q:p+q
print(w(6,4))

10

In [3]:
w1 = lambda x,y:[i*x for i in range(y)]
print(w1(5,4))

[0, 5, 10, 15]

In [8]:
# Return first name and last name last letter by concatinating '-'
w2 = lambda fn,ln : fn[-1]+'_'+ln[-1]
print(w2('Ram','Patil'))
# Initialize from first letter
w3 = lambda fn,ln :fn[0]+ln[0]
print(w3('Ram','Patil'))

m_l
RP

In [11]:
# lambda fun using if-else

w4 = lambda a,b:(a*b)-2 if (a+b)%2==0 else (b-a)*a
print(w4(5,3))

13

In [16]:
# map

r = [10,12,15,18,19,20,21,25]
def sub5(x):
    return x-5
a1= list(map(sub5,r))
print(a)

a2 = list(map(lambda x:x-5,r))
print(a2)\

res =[]
for i in r:
    res.append(i-5)
print(res)

[5, 7, 10, 13, 14, 15, 16, 20]
[5, 7, 10, 13, 14, 15, 16, 20]
[5, 7, 10, 13, 14, 15, 16, 20]

In [3]:
# map using dict
d ={'a1':10,'a2':13,'a3':14,'a5':15,'a6':18}

m1 =list(map(lambda x: x+'_keys',d.keys()))
print(m1)
m2 = list(map(lambda x: x-5,d.values()))
print(m2)
m3 = list(map(lambda x:(x[0]+'_keys',x[1]*10),d.items()))
print(m3)

['a1_keys', 'a2_keys', 'a3_keys', 'a5_keys', 'a6_keys']
[5, 8, 9, 10, 13]
[('a1_keys', 100), ('a2_keys', 130), ('a3_keys', 140), ('a5_keys', 150), ('a6_keys', 180)]

In [ ]:
# filter

In [4]:
r = [10,12,15,18,19,20,21,25]
def select_even(x):
    return x%2==0
a1 = list(filter(select_even,r))
print(a1)

[10, 12, 18, 20]

In [5]:
a2 = list(filter(lambda x:x%2==0,r))
print(a2)

[10, 12, 18, 20]

In [9]:
# filter using dict

d ={'shsdb':10,'dhas':13,'ajanak':14,'ass':15,'asssa':18}

n1 = list(filter(lambda x:len(x)%3==0,d.keys()))
print(n1)
n2 = list(filter(lambda x: x>14,d.values()))
print(n2)
n3 =list(filter(lambda x: x[1]%2==0,d.items()))
print(n3)

['ajanak', 'ass']
[15, 18]
[('shsdb', 10), ('ajanak', 14), ('asssa', 18)]

In [11]:
from functools import reduce

In [16]:
f =[2,3,4,5,6,7]
a1 = reduce(lambda x,y:x+y,f)
print(a1)
a2= reduce(lambda x,y:x+y,f,10)
print(a2)

27
37

In [17]:
# zip

k1=['a1','a2','a3','a4','a5','a6']
k2 =[5,4,3,2,4,6]

p1=list(zip(k1,k2))
p2=tuple(zip(k1,k2))
p3=dict(zip(k1,k2))
print(p1)
print(p2)
print(p3)

[('a1', 5), ('a2', 4), ('a3', 3), ('a4', 2), ('a5', 4), ('a6', 6)]
(('a1', 5), ('a2', 4), ('a3', 3), ('a4', 2), ('a5', 4), ('a6', 6))
{'a1': 5, 'a2': 4, 'a3': 3, 'a4': 2, 'a5': 4, 'a6': 6}

In [20]:
# enumerate
r = [10,12,15,18,19,20,21,25]
for i,j in enumerate(r):
    print(i,j)

0 10
1 12
2 15
3 18
4 19
5 20
6 21
7 25

In [21]:
r = [10,12,15,18,19,20,21,25]
for i,j in enumerate(r,start=3):
    print(i,j)

3 10
4 12
5 15
6 18
7 19
8 20
9 21
10 25

In [25]:
d = {'name':'Harsh','age':21,'salary':1000000}
for i,j in enumerate(d.items()):
    print(i,j[0],j[1])

0 name Harsh
1 age 21
2 salary 1000000

In [28]:
# Find the index (starting from 0) in the dict where keys are multiple of 3
d = {'name':'Harsh','age':21,'salary':100000,'dept':'IT'}
for i,j in enumerate(d.items()):
    if len(j[0])%3==0:
        print(i)

1
2