In [2]:
# data types -

a1 = 4
print(a1)
print(type(a1))

4
<class 'int'>

In [4]:
a2 = 5.5
print(a2)
print(type(a2))

5.5
<class 'float'>

In [5]:
a3 = 'Python'
print(a3)
print(type(a3))

Python
<class 'str'>

In [6]:
a4 = True
print(a4)
print(type(a4))

True
<class 'bool'>

In [7]:
a5 = 2+3j
print(a5)
print(type(a5))

(2+3j)
<class 'complex'>

In [8]:
a6 = None
print(a6)
print(type(a6))

None
<class 'NoneType'>

In [ ]:
# Operators

In [9]:
# Arithmatic operator

x,y = 7,5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y)
print(x%y)

12
2
35
1.4
16807
2

In [10]:
# Assignment operator

x,y = 4,3
print(x,y)
x+=y
print(x,y)
x-=y
print(x,y)
x*=y
print(x,y)
x/=y
print(x,y)

4 3
7 3
4 3
12 3
4.0 3

In [11]:
# Relational (comparison) operator

x,y = 10,15
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [12]:
# Logical operator
# and,or,not

x,y,z = 10,15,20

print(x>y and x>z)
print(x<y and y<z)
print(x<y or x>y)
print(x<y or y<z)

False
True
True
True

In [13]:
# Membership operator
# in,not in

x = " Learning python and data science."
print('python' in x)
print('sql' in x)
print('sql' not in x)

True
False
True

In [14]:
# Data structure
# List and Tuple

w1,w2 = [],list()
print(w1,type(w1))
print(w2,type(w2))

[] <class 'list'>
[] <class 'list'>

In [18]:
w1 = [10,20,30,40,50,60,70]
print(w1)
print(type(w1))
print(len(w1))

[10, 20, 30, 40, 50, 60, 70]
<class 'list'>
7

In [17]:
w1,w2 = (),tuple()
print(w1,type(w1))
print(w2,type(w2))

() <class 'tuple'>
() <class 'tuple'>

In [24]:
w1 = (10,20,30,40,50,60,70)
print(w1)
print(type(w1))
print(len(w1))

(10, 20, 30, 40, 50, 60, 70)
<class 'tuple'>
7

In [20]:
# Indexing

x =[10,20,30,40,50,60,70,80]
print(x)
print(x[1],x[2],x[6])
print(x[-1],x[-2],x[-3])

[10, 20, 30, 40, 50, 60, 70, 80]
20 30 70
80 70 60

In [21]:
# Slicing

x =[10,20,30,40,50,60,70,80]
print(x)
print(x[2:])
print(x[3:6])
print(x[1:5:2])
print(x[6:1:-1])

[10, 20, 30, 40, 50, 60, 70, 80]
[30, 40, 50, 60, 70, 80]
[40, 50, 60]
[20, 40]
[70, 60, 50, 40, 30]

In [22]:
# List is mutable
x =[10,20,30,40,50,60,70,80]
print(x)
x[2] ='welcome'
print(x)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 'welcome', 40, 50, 60, 70, 80]

In [23]:
# Tuple is immutable
x =(10,20,30,40,50,60,70,80)
print(x)
x[2] ='welcome'
print(x)

(10, 20, 30, 40, 50, 60, 70, 80)

TypeError: 'tuple' object does not support item assignment

In [25]:
# Dictionary
# empty dict
d1,d2 = {},dict()
print(d1,type(d1))
print(d2,type(d2))

{} <class 'dict'>
{} <class 'dict'>

In [26]:
d = {'a1':10,'a2':20,'a3':30,'a4':40}
print(d)
print(type(d))
print(len(d))

{'a1': 10, 'a2': 20, 'a3': 30, 'a4': 40}
<class 'dict'>
4

In [27]:
# keys is unique,values are duplicated
d = {'a1':10,'a2':20,'a3':30,'a4':10}
print(d)

{'a1': 10, 'a2': 20, 'a3': 30, 'a4': 10}

In [28]:
# fetch the values

d = {'a1':10,'a2':20,'a3':30,'a4':40}
print(d)
print(d['a1'])
print(d['a2'])
print(d['a3'])

{'a1': 10, 'a2': 20, 'a3': 30, 'a4': 40}
10
20
30

In [29]:
# add new value to the dict

d = {'a1':10,'a2':20,'a3':30,'a4':40}
print(d)
d['name']= 'Ram'
print(d)

{'a1': 10, 'a2': 20, 'a3': 30, 'a4': 40}
{'a1': 10, 'a2': 20, 'a3': 30, 'a4': 40, 'name': 'Ram'}

In [30]:
# update value to the dict

d = {'a1':10,'a2':20,'a3':30,'a4':40}
print(d)
d['a2']= 50
print(d)

{'a1': 10, 'a2': 20, 'a3': 30, 'a4': 40}
{'a1': 10, 'a2': 50, 'a3': 30, 'a4': 40}

In [32]:
# List function
w = [10,20,30,40,50,60,70]
print(w)
w.pop(2)
print(w)
w.pop(5)
print(w)

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 40, 50, 60, 70]
[10, 20, 40, 50, 60]

In [33]:
x = [2,3,4,5]
print(x)
x.append(6)
print(x)
x.append(7)
print(x)

[2, 3, 4, 5]
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7]

In [34]:
w = [10,20,30,10,50,60,20,20,30,40]
print(w)
print(w.count(10))
print(w.count(20))
print(w.count(30))
print(w.count(40))

[10, 20, 30, 10, 50, 60, 20, 20, 30, 40]
2
3
2
1

In [35]:
w = [10,20,30,10,50,60,20,20,30,40]
print(w)
print(w.index(10))
print(w.index(20))
print(w.index(30))
print(w.index(40))

[10, 20, 30, 10, 50, 60, 20, 20, 30, 40]
0
1
2
9

In [38]:
x = [7,2,6,9,12,15,20]
print(x)
x.sort() # asc
print(x)
x.sort(reverse =True) # desc
print(x)

[7, 2, 6, 9, 12, 15, 20]
[2, 6, 7, 9, 12, 15, 20]
[20, 15, 12, 9, 7, 6, 2]

In [41]:
x = [7,2,6,9,12,15,20]
print(x)
x.insert(2,'Python')
print(x)
x.insert(4,'V')
print(x)

[7, 2, 6, 9, 12, 15, 20]
[7, 2, 'Python', 6, 9, 12, 15, 20]
[7, 2, 'Python', 6, 'V', 9, 12, 15, 20]

In [43]:
# Set
# empty
w1 = set()
print(w1,type(w1))

set() <class 'set'>

In [44]:
x ={10,20,30,40,50,60}
print(x)
print(type(x))
print(len(x))

{50, 20, 40, 10, 60, 30}
<class 'set'>
6

In [46]:
# Set has no duplicates value

x ={10,20,30,40,10,20,50,60,20,30,50,60}
print(x)
print(type(x))
print(len(x))

{50, 20, 40, 10, 60, 30}
<class 'set'>
6